.alignleft {
  float: left; }

.alignright {
  float: right; }

hr.style-one {
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -o-linear-gradient(left, #ccc, #333, #ccc); }

table {
  border: 0px solid black;
  margin-top: 30px;
  margin-right: 150px;
  margin-left: 20px; }

.box {
  color: #000000;
  border: thin;
  border-color: #666666;
  margin-top: 15px;
  width: 300px;
  height: 150px;
  text-align: center; }

.red {
  background: #ff0000; }

.green {
  background: #009966; }

.blue {
  background: #330099; }

a:link {
  color: #1667e0; }

a:visited {
  color: #1492e6; }

a:hover {
  border-bottom: 1px solid;
  background: #dbd8ee; }

a:active {
  color: #FF00CC; }

.my_div {
  width: 250px;
  height: 130px;
  border: 1px solid blue;
  padding: 5px;
  margin: 5px;
  text-align: center;
}
  /*input[type=checkbox] {
    float: left;
   margin-right: 0.4em;
} */
 
